<ng-container *ngIf="isLoading" >
  <h1>LOADING DATA</h1>
  <img src="assets/pics/loading.gif" style="height: 150px;" class="d-block m-auto">
</ng-container>

<ng-container>
  <h4 class="text-center">you are currently mastering {{players.length}} players !</h4>
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Owner</th>
        <th scope="col">Campain</th>
        <th scope="col">Name</th>
        <th scope="col">Class</th>
        <th scope="col">ADMIN</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let player of players; let i = index;"
        [ngClass]="{'bg-light':(i%2===0),'bg-dark':(i%2!==0)}"
        class="text-center"
      >
        <th scope="row">{{player.id}}</th>
        <td>{{player.owner}}</td>
        <td>{{player.campain}}</td>
        <td>{{player.name}}</td>
        <td>{{player.class}}</td>
        <td class="d-flex flex-column">
          <a class="cursor-pointer btn btn-light" [routerLink]="['/edit', player.id]">edit</a><br>
          <a class="cursor-pointer btn btn-light" (click)="deletePlayer(player)">delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>



