<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DMTOOLS</a>

  <div class="" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/dashboard'>PLAYERS LIST</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/add'>ADD PLAYER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">--#--</a>
      </li>
    </ul>
  </div>
</nav>
